@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300;700&display=swap');

/*
--------------------------------------------
Menu Items
--------------------------------------------
*/
.App {
    text-align: center;
}

li {
    font-size: 2rem;
    color: #ffffff;
    display: inline;
    font-family: 'Cairo', sans-serif;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #1f2a66;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 5rem 2rem;
}

p {
    font-size: 2rem;
}

.menuItems {
    float: left;
}

.menuLogo {
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 0rem 1rem 0rem 0rem;
}

.PageIcon {
    font-size: 7rem;
}

button {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.chatBar {
    bottom: 0;
    right: 0;
    position: fixed;
}

.MsgStyle {
    top: 0;
    text-align: right;
}

input {
    width: 100rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
}

.MessageStyle {
    font-size: 2rem;
}

.YourMsgStyle {
    text-align: right;
    padding: 0.1rem 1rem 2rem 0rem;
    margin-bottom: 0.1rem;
    background-color: #016b9ca1;
    color: #ffffff;
    align-items: right;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: space-between;
}

.Identifier,
.TimeStyle {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
