.App {
    text-align: center;
}

li {
    font-size: 2rem;
    color: #ffffff;
    display: inline;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #1f2a66;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 5rem 2rem;
}

p {
    font-size: 2rem;
}

.menuItems {
    float: left;
}

.menuLogo {
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 0rem 1rem 0rem 0rem;
}

.AboutPageStyle,
.ProfileTabStyle {
    padding: 0rem 20rem 0rem 20rem;
}

.PageIcon {
    font-size: 7rem;
}

.ProfileTabStyle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

/* .myMsg {
    float: right;
    width: 10rem;
    height: 2rem;
    padding: 2.5rem;
    margin-bottom: 10rem;
    background-color: #0909ccb7;
    z-index: 2;
} */

/* .extrlMsg {
    float: left;
    width: 10rem;
    height: 2rem;
    padding: 2.5rem;
    background-color: rgb(223, 223, 224);
    z-index: 1;
} */

button {
    margin: 1rem;
    padding: 0.5rem;
}

.chatBar {
    bottom: 0;
    right: 0;
    position: fixed;
}

input {
    width: 100rem;

    text-align: left;
    padding: 0.5rem;
}

.NewMsg {
    font-size: 2.5rem;
    float: right;
    display: block;
    padding: 1rem;
    margin: 2rem;
    background-color: #b3d6f5;
    border-radius: 25%;
}

p {
    margin: -4rem;
    padding: 8rem;
    text-align: right;
}
.DateStyle {
    padding: 1rem;
    font-size: 1rem;
}

.IdentifierStyle {
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
    font-weight: bold;
}

.DateStyle,
.IdentifierStyle {
    text-align: right;
}
